* {
  --text-sm: 1.15rem;
  --text-base: 1.35rem;
  --text-md: 1.5rem;
  --text-lg: 2rem;
  --text-xl: 2.25rem;
}
body {
  font-family: "Urbanist", sans-serif;
}
section {
  width: 80ch;
  justify-self: center;
  font-size: var(--text-base);
}
h2 {
  font-size: var(--text-lg);
  padding: 2rem 0;
  font-weight: 600;
}
h3 {
  font-size: var(--text-md);
  padding: 0.875rem 0;
  font-weight: 600;
}
li {
  margin: 1rem 2rem;
}
.title {
  font-size: var(--text-xl);
  line-height: 3rem;
}
.description {
  font-size: var(--text-base);
  padding-top: 1rem;
}
.container {
  padding: 2rem;
}

@media screen and (max-height: 46em) {
  section {
    padding: 3.5em 0 4.5em 0;
  }
  nav {
    padding-top: 1em;
  }
}
