* {
  /* --text: #1d1d1a; */
  --inline: #cba71a;
  --stats: #ebe899;
  --accent: #fbd85d;
  --highlight-one: #f2e09f;
  --highlight-two: #f1e5b9;
}

/* .container {
  border: red solid 1px;
}
.subsubcontainer {
  border: blueviolet solid 1px;
} */
