* {
  --inline: #374fc6;
  --stats: #c4e3ed;
  --accent: #39c4e3;
  --highlight-one: #aae7ed;
  --highlight-two: #cdeaed;
}

.company {
  text-align: center;
  font-weight: 500;
}
table {
  /* display: none; */
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}
.table-title th {
  font-weight: 500;
}
/* table:hover,
table:focus {
  transition: var(--ease-slow);
} */
th,
td {
  text-align: left;
  font-size: 0.9rem;
  padding: 8px;
  border: 0.1em solid var(--accent);
}
tr:nth-child(even) {
  background-color: var(--highlight-one);
}
tr:nth-child(odd) {
  background-color: var(--highlight-two);
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .fa-brands {
    display: inline-table;
  }
  tr .fa-brands {
    display: none;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {
    content: "Company";
    text-align: left;
    margin-top: 1.5rem;
  }
  td:nth-of-type(2):before {
    content: "Target Audience";
  }
  td:nth-of-type(3):before {
    content: "Strengths";
  }
  td:nth-of-type(4):before {
    content: "Weaknesses";
  }
}
