/* TODO: fix this up */

/* IMAGES */
.gallery {
  display: flex;
  width: 100%;
  gap: 1.5em;
}

.headline img {
  width: 80%;
  display: inline;
}
.gallery img {
  width: calc(50% - 1em);
}

img {
  max-width: 100%;
  margin: 0 auto;
}

.nav img {
  margin: 0;
}

.graphic,
.photo,
.diagram {
  transition: var(--bouncy);
}

.graphic,
.photo {
  border-radius: 20px;
  box-shadow: var(--medium-shadow);
}

.diagram {
  width: 100%;
}

.diagram {
  margin-top: 1em;
}

/* FUNDAMENTAL */
section {
  position: relative;
}

section .container {
  width: 45rem;
}

.headline {
  margin-top: 5em;
  padding-bottom: 3em;
  text-align: center;
}

/* all subcontainers except the last of each section */
.container .subcontainer:not(:last-child) {
  margin-bottom: 5em;
}

.subcontainer .subsubcontainer:not(:last-child) {
  margin-bottom: 1.5em;
}

.extra-spacing {
  margin-bottom: 1em;
}

.subcontainer,
h2 {
  opacity: 1;
  transition: var(--ease-slower);
  transform: translateY(-1rem);
}

.subcontainer.shown,
h2.shown {
  opacity: 1;
  transform: translateY(0);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.columns {
  display: flex;
  gap: 2.5em;
  margin: 0.5em 0 1em 0;
}

.columns .subsubcontainer {
  flex: 1;
}

/* media queries */
@media (hover: hover) {
  .inline:hover,
  .inline:focus {
    color: var(--inline);
    font-weight: 600;
  }

  .graphic:hover,
  .graphic:focus,
  .photo:hover,
  .photo:focus,
  .diagram:hover,
  .diagram:focus {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 60em) {
  .headline {
    flex-wrap: wrap;
    font-size: 0.85rem;
  }
  .headline p {
    width: 50%;
    margin: 0 auto;
    white-space: wrap;
  }
  .nav-links ul {
    width: 130px;
  }

  section .container {
    width: 85%;
    font-size: 0.85em;
  }
}

@media screen and (max-width: 55em) {
  .two-column {
    padding: 4em;
  }

  .think-cloud {
    width: 80%;
  }
  .shoutout {
    margin: 1em 0 3em 0;
  }
  p {
    font-size: 1rem;
  }
}
/* smallest screen size on computer */
@media screen and (max-width: 50em) {
  .headline p {
    width: 50%;
    margin: 0 auto;
    white-space: wrap;
  }
}

@media screen and (max-width: 40em) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .gallery {
    flex-direction: column;
    gap: 7.5vw;
    margin-top: 2em;
  }

  .gallery img {
    width: 100%;
    margin: 0;
  }

  section .container {
    width: 100%;
    font-size: 0.75em;
  }
}

@media screen and (max-width: 30em) {
  .headline .specs p,
  .headline .specs p span {
    font-size: 0.75rem;
  }
  .subsubcontainer h4 {
    font-size: 1rem;
  }

  .stats .think-cloud {
    font-size: 1rem;
  }

  .button-container {
    display: block;
  }

  .button-container .button.secondary {
    margin-top: 0.5em;
  }
}

@media screen and (max-height: 46em) {
  .headline {
    margin-top: 3.5em;
  }
  section {
    padding: 0 0 0 0;
  }

  .headline img {
    margin-bottom: 0.5em;
  }

  .stats {
    padding: 1.75em 0em;
  }

  .impact {
    padding-bottom: 2em;
  }
}
